//Text
$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

//Gradient
$bgGradient: linear-gradient(rgb(175, 103, 233) 50%, hsl(240, 73%, 65%) 100%);

//Text
$veryDarkGrayBlue: hsl(237, 12%, 33%);
$darkGrayBlue: hsl(240, 6%, 50%);

//Dividers
$lightGrayBlue: hsl(240, 5%, 91%);
